:root {
    --menu-width: 220px;
}

@import url("https://fonts.googleapis.com/css2?family=Hobo+Std&display=swap");

body {
    font-family: Arial, sans-serif;
    background-color: #f6f1de;
    color: #3e3f5b;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

header {
    background-color: #f6f1de;
    text-align: center;
    padding: 20px;
}

header img {
    width: 120px;
    height: auto;
}

header h1,
header h3,
main h2 {
    font-family: "Hobo Std", sans-serif;
    font-weight: 700;
    color: #3e3f5b;
}

.container {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}

aside {
    background-color: #c8e6c9;
    padding: 10px;
    border-radius: 8px;
    width: var(--menu-width);
    flex-shrink: 0;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

nav a {
    text-decoration: none;
    font-family: "Hobo Std", sans-serif;
    color: #3e3f5b;
    padding: 8px;
    background-color: #a5d6a7;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #81c784;
}

main {
    flex: 1;
    padding: 0;
    margin: 0;
    background-color: transparent;
    max-width: none;
}

main.content {
    background-color: #d0e8d0;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    /* optioneel */
    margin: 0 auto;
    box-sizing: border-box;
}

iframe#content {
    width: 100%;
    min-height: 60vh;
    border: none;
    display: block;
}

body.pagebody {
    background-color: #d0e8d0;
    margin: 0;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    text-align: left;
    margin: 40px 20px 20px 20px;
    color: #3e3f5b;
}